In [32]:
#importing the required libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
# import matplotlib.pyplot as plt
# %matplotlib inline

In [33]:
#Reading the csv file
data=pd.read_csv('cpdata.csv')
data.head()

,temperature,humidity,AvN%(dry),AvP%(dry),AvK%(dry),moisture,season,rainfall,label
0,20.879744,82.002744,1.364771,0.109570,0.747573,6.502985,2,202.935536,rice
1,21.770462,80.319644,2.479714,0.267857,0.000000,7.038096,2,226.655537,rice
2,23.004459,82.320763,2.144000,0.200000,1.490000,7.840207,2,263.964248,rice
3,26.491096,80.158363,3.322074,0.310556,2.800000,6.980401,2,242.864034,rice
4,20.130175,81.604873,2.417709,0.271054,1.897747,7.628473,1,262.717340,rice

In [34]:
data.shape

(3100, 9)

In [35]:
data.describe()

,temperature,humidity,AvN%(dry),AvP%(dry),AvK%(dry),moisture,season,rainfall
count,3100.000000,3100.000000,3100.000000,3100.000000,3100.000000,3100.000000,3100.000000,3100.000000
mean,27.108466,66.005312,2.064052,0.229835,1.376293,6.368913,1.502581,110.213031
std,7.566308,24.007713,1.111719,0.171839,1.204573,0.809477,0.500074,64.048562
min,8.825675,10.034048,0.000000,0.000000,0.000000,3.504752,1.000000,20.211267
25%,22.810495,55.244920,1.205213,0.099338,0.000000,5.895343,1.000000,64.909095
50%,26.102848,68.980529,1.960000,0.228717,1.375117,6.342518,2.000000,97.057093
75%,29.365644,84.446524,2.736000,0.329009,2.119199,6.841616,2.000000,141.210784
max,54.986760,99.981876,6.567758,1.244510,6.750000,9.935091,2.000000,397.315380

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3100 entries, 0 to 3099
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   temperature  3100 non-null   float64
 1   humidity     3100 non-null   float64
 2   AvN%(dry)    3100 non-null   float64
 3   AvP%(dry)    3100 non-null   float64
 4   AvK%(dry)    3100 non-null   float64
 5   moisture     3100 non-null   float64
 6   season       3100 non-null   int64
 7   rainfall     3100 non-null   float64
 8   label        3100 non-null   object
dtypes: float64(7), int64(1), object(1)
memory usage: 218.1+ KB

In [37]:
data.isnull().sum()

temperature    0
humidity       0
AvN%(dry)      0
AvP%(dry)      0
AvK%(dry)      0
moisture       0
season         0
rainfall       0
label          0
dtype: int64

In [38]:
data.apply(lambda x: len(x.unique()))

temperature    3000
humidity       3100
AvN%(dry)       593
AvP%(dry)       394
AvK%(dry)       433
moisture       3100
season            2
rainfall       3100
label            31
dtype: int64

In [39]:
data['label'].value_counts()

watermelon      100
Mung Bean       100
Tobacco         100
Black gram      100
banana          100
Tea             100
rice            100
muskmelon       100
Coffee          100
Sugarcane       100
wheat           100
Cotton          100
apple           100
grapes          100
Adzuki Beans    100
Coconut         100
Rubber          100
maize           100
Lentil          100
Jute            100
Peas            100
Ground Nut      100
Pigeon Peas     100
Chickpea        100
mango           100
orange          100
papaya          100
Moth Beans      100
millet          100
pomegranate     100
Kidney Beans    100
Name: label, dtype: int64

In [40]:
data.columns

Index(['temperature', 'humidity', 'AvN%(dry)', 'AvP%(dry)', 'AvK%(dry)',
       'moisture', 'season', 'rainfall', 'label'],
      dtype='object')

In [41]:
X = data.drop('label' ,axis =1)
X.head()

,temperature,humidity,AvN%(dry),AvP%(dry),AvK%(dry),moisture,season,rainfall
0,20.879744,82.002744,1.364771,0.109570,0.747573,6.502985,2,202.935536
1,21.770462,80.319644,2.479714,0.267857,0.000000,7.038096,2,226.655537
2,23.004459,82.320763,2.144000,0.200000,1.490000,7.840207,2,263.964248
3,26.491096,80.158363,3.322074,0.310556,2.800000,6.980401,2,242.864034
4,20.130175,81.604873,2.417709,0.271054,1.897747,7.628473,1,262.717340

In [42]:
print(sorted(data['label'].unique()))
print(len(data['label'].unique()))

['Adzuki Beans', 'Black gram', 'Chickpea', 'Coconut', 'Coffee', 'Cotton', 'Ground Nut', 'Jute', 'Kidney Beans', 'Lentil', 'Moth Beans', 'Mung Bean', 'Peas', 'Pigeon Peas', 'Rubber', 'Sugarcane', 'Tea', 'Tobacco', 'apple', 'banana', 'grapes', 'maize', 'mango', 'millet', 'muskmelon', 'orange', 'papaya', 'pomegranate', 'rice', 'watermelon', 'wheat']
31

In [43]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data['label'] = le.fit_transform(data['label'])
decoder = le.classes_

In [44]:
print(decoder)
y = data['label']
y.head()

['Adzuki Beans' 'Black gram' 'Chickpea' 'Coconut' 'Coffee' 'Cotton'
 'Ground Nut' 'Jute' 'Kidney Beans' 'Lentil' 'Moth Beans' 'Mung Bean'
 'Peas' 'Pigeon Peas' 'Rubber' 'Sugarcane' 'Tea' 'Tobacco' 'apple'
 'banana' 'grapes' 'maize' 'mango' 'millet' 'muskmelon' 'orange' 'papaya'
 'pomegranate' 'rice' 'watermelon' 'wheat']

0    28
1    28
2    28
3    28
4    28
Name: label, dtype: int32

In [45]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2, random_state=42)

In [47]:
#Importing Decision Tree classifier
from sklearn.tree import DecisionTreeClassifier

DT=DecisionTreeClassifier()

#Fitting the classifier into training set
DT.fit(X_train,y_train)

a= DT.score(X_test, y_test)
print("The accuracy of this model is: ", a*100)

The accuracy of this model is:  90.80645161290323

In [48]:
from sklearn.ensemble import RandomForestClassifier
RF = RandomForestClassifier(n_estimators = 200, criterion = 'entropy', random_state = 0)
RF.fit(X_train,y_train)
pred_RF=RF.predict(X_test)

# Finding the accuracy of the model
a=RF.score(X_test, y_test)
print("The accuracy of this model is: ", a*100)

The accuracy of this model is:  93.54838709677419

In [49]:
#test
tp = [[22.30157427,80.64416466,2.856,0.285,1.92,6.043304899,2,197.9791215]]
tr = RF.predict(tp)
tr = int(tr)
print(tr)
decoder[tr]

28

'rice'

In [51]:
#Make GUI for This Section only 

from tkinter import *
from PIL import Image, ImageTk

root=Tk()
root.title("Crop Prediction App")
root.geometry("550x400")
root.resizable(False,False)
root.configure(bg = "pale green")

bg_image = ImageTk.PhotoImage(Image.open("./images/background.png").resize((550, 400)))
background = Label(root, image = bg_image)
background.photo = bg_image
background.place(x=0, y=0, relwidth=1, relheight=1)

global image

columns = data.columns.tolist()

frame1 = Frame(root, bd = 3, relief = SUNKEN)
title = Label(frame1, text = "Crop Prediction System", font = ("Comic Sans MS", 20, "bold"), bg = "yellow4")
# title.grid(row=0, column = 0, columnspan =2)
title.grid(row=0, column=0, columnspan = 2)
frame1.place(relx=0.18, rely=0.0, anchor = NW)

inputFrame = Frame(root, bd = 3, bg = "yellow4", relief = SUNKEN)
outputFrame = Frame(root, bd = 3, bg = "yellow4", relief=SUNKEN)

e1 = Entry(inputFrame, width = 10)
e2 = Entry(inputFrame, width = 10)
e3 = Entry(inputFrame, width = 10)
e4 = Entry(inputFrame, width = 10)
e5 = Entry(inputFrame, width = 10)
e6 = Entry(inputFrame, width = 10)
e7 = Entry(inputFrame, width = 10)
e8 = Entry(inputFrame, width = 10)

entryBoxes = [e1,e2,e3,e4,e5,e6,e7, e8]

#REMOVE THIS PART IF THE DEFAULT VALUES FOR ENTRIES NOT NEEDED
###########################################################################
vals= [22.7,51.51,1.192,0.35,2.32,6.18,1,82.5148]

for i in range(len(entryBoxes)):
    entryBoxes[i].insert(0, str(vals[i]))
###########################################################################

labelsFont = ("Comic Sans MS", 10, "italic")


for i in range(8):
    label = Label(inputFrame, text = columns[i].title()+": ", font = labelsFont, bg = "yellow4", padx=5, pady=5)
    label.grid(row=i, column = 0)
    entryBoxes[i].grid(row = i, column=1, padx = 3) 

inputFrame.place(relx = 0.05, rely = 0.17)
outputFrame.place(relx = 0.47, rely = 0.25)
def Predict():
    x_pred = []
    for i in range(8):
        entered = float(entryBoxes[i].get())
        x_pred.append(entered)

    x_pred = [x_pred]

    prediction_index = int(RF.predict(x_pred))
    result = decoder[prediction_index]
    print(result)
    
    crop_img = Image.open("./images/"+result.lower()+".png").resize((250, 190))
    image = ImageTk.PhotoImage(crop_img)
#     canvas.create_image(20,20, anchor=NW, image=image)
    img = Label(outputFrame, image=image)
    img.photo = image
    # Showing the output value
    resLabel = Label(outputFrame, text = "Prediction: " + result.title(), font = ("Arial Bold",15), bg = "yellow4", padx=10)
    resLabel.grid(row=2, column = 3, columnspan = 7, pady = 3)
    img.grid(row=3, column = 3, columnspan = 7, rowspan = 5)

inputButton = Button(inputFrame, text = "Predict", command = Predict, padx = 1, pady = 5)
inputButton.grid(row = 8, column = 0, columnspan = 2, padx = 5, pady = 5)

root.mainloop()

wheat
Tobacco
Tobacco
Tobacco
Tobacco
maize